body {
	margin: 0px;
}

#ticket {
	width: 100%;
	display: flex;
}

#file-select {
	background: green;
	width: 100%;
	position: relative;
	margin: 0px;
	border-width: 0px;
	color: white;
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 2em;
}

#ticket-select {
	position: absolute;
	z-index: 1000;
	opacity: 0;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}